body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: white;
}

div[id^="guessBG"] {
    border-radius: 10px;
    font-size: 2em;
}

.center {
  margin: auto;
  width: 50%;
  border: 1px solid grey;
  text-align: center;
  padding: 10px;
}

#guessEntry {
    background-color: lightblue;
}

#title {
    background-color: lightyellow;
}
