body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: white;
}

div[id^="guessBG"] {
    border-radius: 10px;
    font-size: 2em;
}

.center {
  margin: auto;
  width: 50%;
  text-align: center;
  padding: 10px;
}

#guessEntry {
    border: 1px solid grey;
    padding: 2em;
}

div #title {
    font-family: consolas;
    padding: 1em;
}

@keyframes slideDown {
  0% {
    transform: translateY(-50%);
    opacity: 0%;
  }
  100% {
    transform: translateY(0);
    opacity: 100%;
  }
}

.slideDown {
  animation: 0.5s ease-out 0s 1 slideDown;
}
