body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  height: 100vh;
}

#colorPicker {
  margin-left: auto;
  margin-right: auto;
  width: 3.5em;
  height: 3.5em;
  border-radius: 50%;
  overflow: hidden;
}

input[type="color" i] {
  border: 0;
  padding: 0;
  width: 3.5em;
  height: 3.5em;
  cursor: pointer;
}

div[id^="guessContainer"], #answerText, .guessContainer {
  color: white;
  font-size: 1.5em;
  text-shadow: 1px 0px 0px #000000,
    -1px -0px 0px #000000,
    0px 1px 0px #000000,
    0px -1px 0px #000000;
}

.historyHeader {
  color: #ffffff;
  font-size: 1.5em;
  font-variant: small-caps;
  font-weight: bolder;
  text-shadow: 1px 0px 0px rgba(0, 0, 0),
    -1px -0px 0px rgba(0, 0, 0),
    0px 1px 0px rgba(0, 0, 0),
    0px -1px 0px rgba(0, 0, 0);
}

.slideDown {
  animation: 0.5s ease-out 0s 1 slideDown;
}

.darkMode {
  color: #fff;
  background-color: #000000;
}

#title {
  font-family: 'Modak', cursive;
  animation: rainbow 10s infinite;
}

@keyframes slideDown {
  0% {
    transform: translateY(-50%);
    opacity: 0%;
  }

  100% {
    transform: translateY(0);
    opacity: 100%;
  }
}

@keyframes rainbow {
  0% {
    color: #ff006f;
  }

  20% {
    color: #ff5900;
  }

  40% {
    color: #ffcc00;
  }

  60% {
    color: #5ee100;
  }

  80% {
    color: #00c8ff;
  }

  100% {
    color: #ff006f;

  }
}